html, body {
  text-align: center;
  margin-top: 10vh;
  font-family: 'Century Gothic';
  font-size: 1.2em;
  color: #000000;
  background: #FFFFFF;
}


input[type="text"]{
	font-size: 1.2em;
	height: 1.2em;
	background-color: #adadad; 
}


.custom {
	background-color: #e6e8eb;
	color: #bcc2cb;
	font-size: 1.2em;
	border: none;
	border: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.button {
    cursor: pointer;
}