<html>
	<head>
		<title>Once Upon a Time</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- custom css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<!-- jquery -->
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	</head>
	<body>
		<form action = "/yourstory" method = "get">	
			<p>At age 84, {{ newStory.Characters.name }} was waiting for their grandson to come visit them with his pregnant wife. </p>

			<p>When they arrived, {{ newStory.Characters.name }} greeted the happy couple with open arms. </p> 

			<p>They got on the topic of the couple’s future daughter. “She can be a boxer like her old man,” said the grandson. </p>

			<p>“I think it’d be better for her to do something more fitting like tennis or ballet," remarked the wife. </p>

			<p>{{ newStory.Characters.name }} smiled, and said “Why don’t we let her pick?”</p>

			<p>And so <input type="text" class = "custom" name="girlName" placeholder = "great grand daughter's name">
		
			went on to be a <input type="text" class = "custom" name="dream" placeholder = "What's your dream?">
 			<input type="submit" value="Submit">
			</p>
		</form>
	</body>
</html>