<html>
	<head>
		<title>Once Upon a Time</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- custom css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<!-- jquery -->
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	</head>
	<body>

		<form action = "/page2" method = "get">
			<p>From a young age, it was determined in the prophecy that this young {{ newStory.Characters.gender }} who would become our HERO. </p>
			<input type="submit" value="Submit">
		</form>
		
	</body>
</html>
