<html>
	<head>
		<title>Once Upon a Time</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- custom css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<!-- jquery -->
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	</head>
	<body>
		<p>
		At age 40, {{ newStory.Characters.name }} held his 8 year old daughter as she cried about a Janet in her class who called her names. {{ newStory.Characters.pronoun }} lept into 

		action by making FOOD with her for her class. 

		<!--FOOD should be gotten from a drawing the user has inputted using CLARIFAI-->

		Everyone in the class received a piece of FOOD, even Janet, who later sheepishly apologized for the previous day.
		</p>
	</body>
</html>