<html>
	<head>
		<title>flawless hacks spring 2017</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src ="js/typed.js"></script>
		<script>
			$(".message").typed({
					string: ["Once upon a time, there was a girl named"],
					typeSpeed: 60,
					loop: false,
					contentType: 'text'
			});
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<p><span class = "message"></span></p>
			<form action = "/page1" method = "get">
				<input type"text" name="name" >
				<input type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>
