<html>
	<head>
		<title>Once Upon a Time</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- custom css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

		<!-- jquery -->
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- typing effect script -->
		<script src ="{{url_for('static', filename='typed.js')}}"></script>

		<!-- custom javascript -->
		<script type="text/javascript" scr ="{{url_for('static', filename='script.js')}}"></script>
	</head>
	<body>
		
		<form action = "/page1" method = "get">
			<p>Once upon a time, there was a young </p>

			<input type="text" class = "custom" name="char_gender" placeholder = "type your gender here">
			<!-- <input type="submit" class="custom button" value="submit"> -->

			<p>named</p>

			<input type="text" class = "custom" name="char_name" placeholder = "type your name here">
			<!-- <input type="submit" class="custom button" value="submit"> -->
			
			<p>.</p>

			<input type="submit" value="Submit">

		</form>
		
	</body>
</html>
